# *           text=auto
# 对任何文件，设置text=auto，表示文件的行尾自动转换。
# 如果是文本文件，则在文件入Git库时，行尾自动转换为LF。
# 如果已经在入Git库中的文件的行尾为CRLF，则该文件在入Git库时，不再转换为LF。
*.txt       text
# txt文件，标记为文本文件，并进行行尾规范化。
*.jpg       -text
# jpg文件，标记为非文本文件，不进行任何的行尾转换。
*.vcproj    text eol=crlf
# vcproj文件，标记为文本文件，在文件入Git库时进行规范化，即行尾为LF。
# 但是在检出到工作目录时，行尾自动转换为CRLF。
*.sh        text eol=lf
# sh文件，标记为文本文件，在文件入Git库时进行规范化，即行尾为LF。
# 在检出到工作目录时，行尾也不会转换为CRLF（即保持LF）。
*.py        eol=lf
# py文件，只针对工作目录中的文件，行尾为LF。
